* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
  scroll-behavior: smooth;
}
nav {
  background-color: rgba(0, 0, 0, 0.616);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 888;
}
nav:hover {
  background-color: black;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  padding: 10px 20px;
}
nav ul li:hover {
  background-color: grey;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
@media (max-width: 600px) {
  nav {
    display: none;
  }
}
header {
  background-image: url(https://www.w3schools.com/w3images/pizza.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  filter: grayscale(50%);
}
header .pizza_container {
  font-size: 25px;
  text-align: center;
}
header .pizza_container h1 {
  color: white;
  margin-bottom: 20px;
}
header .pizza_container a {
  text-decoration: none;
  padding: 15px;
  background-color: black;
  color: white;
}
header .pizza_container a:hover {
  background-color: grey;
}
header .open {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: black;
  padding: 15px;
}
.main_menu {
  background-color: black;
  padding: 64px 20px;
}
.main_menu h2 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.main_menu .menu_container {
  max-width: 990px;
  margin: auto;
  border: 2px solid white;
}
.main_menu .menu_container > div ul {
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.main_menu .menu_container > div ul > li {
  list-style: none;
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}
.main_menu .menu_container > div ul > li:hover {
  background-color: red;
  cursor: pointer;
}
.main_menu .menu_container > div ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.main_menu .menu_container .parent {
  background-color: white;
  padding: 25px 12px 50px 12px;
}
.main_menu .menu_container .parent > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.main_menu .menu_container .parent > div h3 .meat {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.main_menu .menu_container .parent > div h3 .parma {
  color: white;
  padding: 10px;
  background-color: grey;
  border-radius: 10px;
}
.main_menu .menu_container .parent > div > h4 {
  padding: 20px;
  background-color: grey;
  border-radius: 12px ;
  color: white;
  margin-top: 8px;
}
.main_menu .menu_container .parent p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.671);
  margin-top: 15px;
  margin-bottom: 15px;
}
article {
  background-color: #853341;
  padding: 64px 20px;
}
article h2 {
  text-align: center;
  color: white;
}
article .about_container {
  max-width: 990px;
  margin: auto;
}
article .about_container .hours {
  width: 75%;
}
article .about_container > p {
  margin-top: 25px;
  color: white;
}
article .about_container > div {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  color: white;
}
article .about_container > div p {
  margin-top: 20px;
  color: white;
}
article .about_container > div img {
  border-radius: 50%;
}
article .about_container h3 {
  color: white;
  margin-top: 15px;
}
article .about_container img {
  margin-top: 30px;
}
div img {
  filter: grayscale(50%);
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}
.contact_container {
  background-color: #607d8b;
  padding: 64px 20px;
}
.contact_container .contact_main {
  max-width: 990px;
  margin: auto;
}
.contact_container .contact_main h2 {
  text-align: center;
  color: white;
}
.contact_container .contact_main p {
  color: white;
  margin-top: 15px;
  font-size: 20px;
  padding: 10px;
}
.contact_container .contact_main p span {
  background-color: black;
  padding: 5px;
}
.contact_container .contact_main form {
  display: flex;
  flex-direction: column;
}
.contact_container .contact_main form input {
  padding: 15px;
  margin-top: 15px;
  width: 100%;
}
.contact_container .contact_main form > div > button {
  padding: 15px;
  margin-top: 15px;
  width: 100%;
}
.contact_container .contact_main form > div > button:hover {
  background-color: rgba(128, 128, 128, 0.466);
  cursor: pointer;
  border: none;
}
footer {
  padding: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
}
footer p {
  color: white;
}
footer p a {
  color: white;
  margin-left: 10px;
}
footer p a:hover {
  color: green ;
}
